#container {
    width: 798px;
    margin-left: auto;
    margin-right: auto;
}

#logo {

}

#suger {
    float: left;
    width: 200px;
    min-height: 1000px;
}

#kinfOfCofe {
    float: left;
    width: 398px;
    min-height: 1000px;
}

#milk {
    float: left;
    width: 200px;
    min-height: 1000px;
}

#information {
    clear: both;
}